body {
    display: flex;
    width: 100%;
    height: 100vh;
    margin: 0;
    color: #d1f7ff;
    font-family: "Pixelify Sans", sans-serif;
    font-size: 16px;
}

label {
    display: block;
    margin: 0.5rem 0;
}
h1 {
    color: #ff2a6d;
}

h1, p {
    margin: 1em auto;
    text-align: center;
}

form {
    margin: 0 auto;
    max-width: 500px;
    min-width: 300px;
    width: 60vw;
    padding-bottom: 2em;
}

fieldset {
    border: none;
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-left: 0;
    padding-right: 0;
    border-bottom: 3px solid #3b3b4f;
}

fieldset:last-of-type { 
    border-bottom: none;
}

input, textarea, select {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 0px;
    margin-right: 0px;
    margin-left: 0px;
    min-height: 2em;
}

input, textarea {
    background-color: #0a0a23;
    border: 1px solid #0a0a23;
    color: #ffffff;
}

select {
    cursor: pointer;
}

input[type="submit"] {
    display: block;
    width: 60%;
    min-width: 300px;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-right: auto;
    margin-left: auto;
    font-size: 1.1rem;
    font-weight: 600;
    font-family: "Pixelify Sans", sans-serif;
    height: 2em;
    background-color: #0a9cf5;
    border-color: white;
    cursor: pointer;
}

input[type="file"] {
    padding: 1px 2px;
    cursor: pointer;
}

.inline {
    width: unset;
    margin:  0 0.5em 0 0;
    vertical-align: middle;
}

a {
    color: #dfdfe2;
}

.side-content {
    flex: 1;
    background-image: url("https://64.media.tumblr.com/43ff1ae84968ffd84606207e9995a78e/tumblr_py4mvbGe6h1tgo74ho1_1280.gif");
    background-repeat: no-repeat;
    background-size: cover;
}

.main-content {
    flex: 2;
    padding: 20px;
    background-color: #1b1b32;
    overflow: auto;
    max-height: 100vh;
}

form p {
    padding-top: 25vh;
}

